# dependencies
node_modules
.npm

# production
build
dist
.swc

# testing
coverage
.nyc_output
reports
.stryker-tmp

# envs
.env
.env.production

# debug
npm-debug.log*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
codegen.ts
.DS_Store
examples
